<header>
      <div class="threedot">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
      <a href="http://localhost:3000/global/in-en/" class="newEggLogo"
        ><img
          src="https://c1.neweggimages.com/WebResource/Themes/Nest/logos/logo_424x210.png"
          class="logo1"
          alt=""
        />
      </a>
      <ul>
        <li>
          <div class="search_main">
            <div class="searchDiv">
              <input
                type="text"
                id="search"
                placeholder="Keywords, Model # or Item #"
              />
              <button onclick="getResults()" class="search_btn">
                <img
                  class="search_btn1"
                  src="https://cdn-icons-png.flaticon.com/512/482/482631.png"
                  alt=""
                />
              </button>
            </div>
          </div>
        </li>
        <li>
          <a href="#">
            <div class="logOrRegist">  
                <div>
                  <a href="http://localhost:3000/global/in-en/signin">
 <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                </div>
    <div class="welcomeDiv">
         <small class="welcomeText">Welcome</small></div>
         <div style="margin-left: -29px">
     <p class="siginNReguy">Sign in Register</p></div>

</a>
              </div>
        </li>
        <li>
          <a href="http://localhost:3000/global/in-en/shop/cart">
          <div class="cartIcon">
           <i class="fas fa-shopping-cart"></i>
          <p>₹ <%= sum %></p>
          <p class="cartSize"><%= products.length %> Item</p>
          </div>
        </li>
     </a>
      </ul>
    </header>

   